$--font-weight--regular: 400;
$--font-weight--emibold: 500;
$--font-weight--medium: 600;

$--font-size-base: 16px;
$--font-size-small: 14px;
$--font-size-large: 18px;

@mixin font-title--xs {
  font: {
    weight: $--font-weight--medium;
    size: $--font-size-base;
  }
}

@mixin font-title--md {
  font: {
    weight: $--font-weight--medium;
    size: $--font-size-large;
  }
}

@mixin font-title--mini {
  font: {
    weight: $--font-weight--medium;
    size: $--font-size-small;
  }
}

@mixin font-text {
  font: {
    weight: $--font-weight--regular;
    size: $--font-size-base;
  }
}

@mixin font-text--xs {
  font: {
    weight: $--font-weight--regular;
    size: $--font-size-small;
  }
}

@mixin tl-title{
  @extend .#{$prefix}__type-delta;
  color: $color__neutrals-800;
}
@mixin tl-title--small {
 @include tl-title; 
 @include font-size('14');
}
@mixin tl-desc{
  @extend .#{$prefix}__type-desc;
  @include font-size('16');
  color: $color__neutrals-300;
}

@mixin tl-desc--small {
  @include tl-desc;
  @include font-size('14');
}

@mixin tl-text-ellipsis{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin tl-text-multi-ellipsis($line, $line-height: 1.5, $font-size: 16px){
  overflow: hidden;
  max-height: $line * $line-height * $font-size;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

@mixin user-no-select() {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}