HTML {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 100%; PADDING-TOP: 0px
}
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 100%; PADDING-TOP: 0px
}
HTML > BODY {
	FONT-SIZE: 68.75%
}
BODY {
	FONT-FAMILY: Verdana, helvetica, arial, sans-serif; /*BACKGROUND: #fff;*/ COLOR: #333; FONT-SIZE: 68.75%
}
H1 {
	PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-FAMILY: "trebuchet ms", verdana, arial; PADDING-TOP: 10px
}
H2 {
	PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-FAMILY: "trebuchet ms", verdana, arial; PADDING-TOP: 10px
}
H1 {
	FONT-SIZE: large
}
#banner {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center; PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; BACKGROUND: url(bg.gif) repeat-x; COLOR: white; FONT-SIZE: large; PADDING-TOP: 15px
}
#banner A {
	COLOR: white
}
#main {
	PADDING-BOTTOM: 1em; PADDING-LEFT: 1em; PADDING-RIGHT: 1em; PADDING-TOP: 1em
}
A IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
