.cssTopMenuPath1 {width:65%; height:45px; float:left;}
.cssTopMenuPath2 {float:left; margin-left: 170px;}
.cssTopIcon1 {width:35%; height:45px; float:right;}
.cssTopIcon2 {float:right; margin-top:13px;margin-right:10px;}
.cssTopIconPlace {margin-right:3px;}
.csslblPath {color:#333333; font-size:12px; font-weight:bold;}
.TopIcon {float:left;margin-left:15px;}
#trTopMenu {background:url(../../Images/Top_bg.png) repeat}

span.TopIcon a .lnkPin {background:url(../../Images/icon/pin.png) no-repeat 0 bottom; height:17px; width:25px; display:block;}
span.TopIcon a .lnkPin:hover {background:url(../../Images/icon/pin.png) no-repeat 0 bottom; height:17px; width:25px; display:block;}
span.TopIcon a.disable .lnkPin {background:url(../../Images/icon/pin.png) no-repeat 0 bottom; height:17px; width:25px; display:block;}

span.TopIcon a .lnkUnpin {background:url(../../Images/icon/unpin.png) no-repeat 0 bottom; height:17px; width:25px; display:block;}
span.TopIcon a .lnkUnpin:hover {background:url(../../Images/icon/unpin.png) no-repeat 0 bottom; height:17px; width:25px; display:block;}
span.TopIcon a.disable .lnkUnpin {background:url(../../Images/icon/unpin.png) no-repeat 0 bottom; height:17px; width:25px; display:block;}

span.TopIcon a .lnkVisibleControl {background:url(../../Images/icon/view_normal.png) no-repeat 0 bottom; height:17px; width:25px; display:block;}
span.TopIcon a .lnkVisibleControl:hover {background:url(../../Images/icon/view_hover.png) no-repeat 0 bottom; height:17px; width:25px; display:block;}
span.TopIcon a.disable .lnkVisibleControl {background:url(../../Images/icon/view_hover.png) no-repeat 0 bottom; height:17px; width:25px; display:block;}

span.TopIcon a .lnkComboPermission {background:url(../../Images/icon/view_normal.png) no-repeat 0 bottom; height:17px; width:25px; display:block;}
span.TopIcon a .lnkComboPermission:hover {background:url(../../Images/icon/view_hover.png) no-repeat 0 bottom; height:17px; width:25px; display:block;}
span.TopIcon a.disable .lnkComboPermission {background:url(../../Images/icon/view_hover.png) no-repeat 0 bottom; height:17px; width:25px; display:block;}


span.TopIcon a .lnkFlagVN {background:url(../../Images/icon/vn_normal.png) no-repeat 0 bottom; height:17px; width:17px; display:block;}
span.TopIcon a .lnkFlagVN:hover {background:url(../../Images/icon/vn_hover.png) no-repeat 0 bottom; height:17px; width:17px; display:block;}
span.TopIcon a.disable .lnkFlagVN {background:url(../../Images/icon/vn_normal.png) no-repeat 0 bottom; height:17px; width:17px; display:block;}

span.TopIcon a .lnkFlagEN {background:url(../../Images/icon/english_normal.png) no-repeat 0 bottom; height:17px; width:17px; display:block;}
span.TopIcon a .lnkFlagEN:hover {background:url(../../Images/icon/english_hover.png) no-repeat 0 bottom; height:17px; width:17px; display:block;}
span.TopIcon a.disable .lnkFlagEN {background:url(../../Images/icon/english_normal.png) no-repeat 0 bottom; height:17px; width:17px; display:block;}

span.TopIcon a .lnkGetCaption {background:url(../../Images/icon/down_normal.png) no-repeat 0 bottom; height:17px; width:17px; display:block;}
span.TopIcon a .lnkGetCaption:hover {background:url(../../Images/icon/down_hover.png) no-repeat 0 bottom; height:17px; width:17px; display:block;}
span.TopIcon a.disable .lnkGetCaption {background:url(../../Images/icon/down_normal.png) no-repeat 0 bottom; height:17px; width:17px; display:block;}

span.TopIcon a .lnkSetCaption {background:url(../../Images/icon/up_normal.png) no-repeat 0 bottom; height:17px; width:18px; display:block;}
span.TopIcon a .lnkSetCaption:hover {background:url(../../Images/icon/up_hover.png) no-repeat 0 bottom; height:17px; width:18px; display:block;}
span.TopIcon a.disable .lnkSetCaption {background:url(../../Images/icon/up_normal.png) no-repeat 0 bottom; height:17px; width:18px; display:block;}

span.TopIcon a .lnkHome {background:url(../../Images/icon/home_normal.png) no-repeat 0 bottom; height:17px; width:17px; display:block;}
span.TopIcon a .lnkHome:hover {background:url(../../Images/icon/home_hover.png) no-repeat 0 bottom; height:17px; width:17px; display:block;}
span.TopIcon a.disable .lnkHome {background:url(../../Images/icon/home_normal.png) no-repeat 0 bottom; height:17px; width:17px; display:block;}

span.TopIcon a .lnkRefesh {background:url(../../Images/icon/refesh_normal.png) no-repeat 0 bottom; height:17px; width:21px; display:block;}
span.TopIcon a .lnkRefesh:hover {background:url(../../Images/icon/refesh_hover.png) no-repeat 0 bottom; height:17px; width:21px; display:block;}
span.TopIcon a.disable .lnkRefesh {background:url(../../Images/icon/refesh_normal.png) no-repeat 0 bottom; height:17px; width:21px; display:block;}

span.TopIcon a .lnkChangePass {background:url(../../Images/icon/changePass_normal.png) no-repeat 0 bottom; height:18px; width:16px; display:block;}
span.TopIcon a .lnkChangePass:hover {background:url(../../Images/icon/changePass_hover.png) no-repeat 0 bottom; height:18px; width:16px; display:block;}
span.TopIcon a.disable .lnkChangePass {background:url(../../Images/icon/changePass_normal.png) no-repeat 0 bottom; height:18px; width:16px; display:block;}

span.TopIcon a .lnkUserManual {background:url(../../Images/icon/HDSD_normal.png) no-repeat 0 bottom; height:17px; width:13px; display:block;}
span.TopIcon a .lnkUserManual:hover {background:url(../../Images/icon/HDSD_hover.png) no-repeat 0 bottom; height:17px; width:13px; display:block;}
span.TopIcon a.disable .lnkUserManual {background:url(../../Images/icon/HDSD_normal.png) no-repeat 0 bottom; height:17px; width:13px; display:block;}

span.TopIcon a .lnkAutoSearch {background:url(../../Images/icon/ico_search2.png) no-repeat 0 bottom; height:20px; width:22px; display:block;}
span.TopIcon a .lnkAutoSearch:hover {background:url(../../Images/icon/ico_search1.png) no-repeat 0 bottom; height:20px; width:22px; display:block;}
span.TopIcon a.disable .lnkAutoSearch {background:url(../../Images/icon/ico_search2.png) no-repeat 0 bottom; height:20px; width:22px; display:block;}
   
span.TopIcon a .lnkWarning {background:url(../../Images/icon/bell_Xam.png) no-repeat 0 bottom; height:25px; width:25px; display:block;}
span.TopIcon a .lnkWarning:hover {background:url(../../Images/icon/bell_XanhLa.png) no-repeat 0 bottom; height:25px; width:25px; display:block;}
span.TopIcon a.disable .lnkWarning {background:url(../../Images/icon/bell_Disable.png) no-repeat 0 bottom; height:25px; width:25px; display:block;}

 
.breadcrum ul {list-style-type:none;margin-left:-50px;display:inline-block;}
.breadcrum li {float:left; margin:0 10px 0 5px;display:inline-block;}
.breadcrum span {width:450px;white-space: nowrap !important;font-size:12px; color:#FFFFFF; line-height:15px;padding-right:2px;}
.breadcrum li a:hover {text-decoration:none; cursor:default;}
   
.loginName {margin: -2px 0 0 15px; font-size:11px;}
.loginName span {font-weight:bold; color:#006291;}   
    
.FavLabel{width:260px;}
