.main-header {
  width: 100%;
  height: 100%;
  // position: fixed;
  background:  #fff;
  // z-index: 1000;
  .wrapper {
    flex-direction: column;
    display: flex;
    // margin: 0 auto; 
  }
  .logo {
    position: relative;
    font-family: 'Indie Flower', handwriting;
    text-align: center;
    // line-height: 1.6;
    font-size: 50px;
    color: #131c21;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
  }

  .ant-menu {
    display: flex;
    align-self: center;
    padding: 15px 0 30px 0;
    
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    text-decoration: none;
    border-color: transparent;
    font-size: 18px;
  }

  .ant-menu-horizontal {
    border-bottom: none;
  }

}