.RadMenu .rmLink{padding-left: 0px !important;}

/*Khong cho phep Menu con vuot len tren Menu cha*/
/*.rmSlide {margin-top:0px !important;}*/

/*Skin = Simple*/
.RadMenu_Simple .rmHorizontal .rmRootLink SPAN.rmText{padding-left:5px !important;padding-right:0px !important; padding-bottom:5px !important; padding-top:5px !important;}
.RadMenu_Simple ul.rmRootGroup, .RadMenu_Simple div.rmRootGroup{border-radius:10px;}
.RadMenu_Simple, .RadMenu_Simple a.rmLink{border-radius:5px;}
.RadMenu_Simple ul.rmRootGroup, .RadMenu_Simple div.rmRootGroup {padding: 3px 0px;border: 1px solid #7C7C7C;background-color: #E4E4E4}

/*Skin = Default*/
.RadMenu_Default .rmHorizontal .rmRootLink SPAN.rmText{padding-left:5px !important;padding-right:0px !important;}
.RadMenu_Default ul.rmRootGroup, .RadMenu_Default div.rmRootGroup{border-radius:10px;}
.RadMenu_Default, .RadMenu_Default a.rmLink{border-radius:5px;}
.RadMenu_Default ul.rmRootGroup, .RadMenu_Default div.rmRootGroup {padding: 3px 0px;border: 1px solid #7C7C7C;background-color: #E4E4E4}

/*Skin = Web20*/
.RadMenu_Web20 .rmHorizontal .rmRootLink SPAN.rmText{padding-left:5px !important;padding-right:0px !important;}
.RadMenu_Web20 ul.rmRootGroup, .RadMenu_Web20 div.rmRootGroup{border-radius:10px;}
.RadMenu_Web20, .RadMenu_Web20 a.rmLink{border-radius:5px;}
.RadMenu_Web20 ul.rmRootGroup, .RadMenu_Web20 div.rmRootGroup {padding: 3px 0px;border: 1px solid #7C7C7C;background-color: #E4E4E4}

/*Skin = Outlook*/
.RadMenu_Outlook .rmHorizontal .rmRootLink SPAN.rmText{padding-left:5px !important;padding-right:0px !important;}
.RadMenu_Outlook ul.rmRootGroup, .RadMenu_Outlook div.rmRootGroup{border-radius:10px;}
.RadMenu_Outlook, .RadMenu_Outlook a.rmLink{border-radius:5px;}
.RadMenu_Outlook ul.rmRootGroup, .RadMenu_Outlook div.rmRootGroup {padding: 3px 0px;border: 1px solid #7C7C7C;background-color: #E4E4E4}
