@import 'footer.css';

.cssTableTop {background-color:#f3f3f3;height:10px;}
.cssTableMiddle {background-color:#f3f3f3;vertical-align:top;}
.cssTableBottom {background-color:#f3f3f3;height:10px;}
/*EditPage*/
#Top1_lnkLogout{float:left;padding-left:25px;color:#FFF; font-size:12px; font-weight:bold;margin-top:0px;text-decoration:none;}

.editpage_H2 {width:218px; height:72px;margin-top: -30px;margin-left: -2px;float:left;background:url(../logo_bg_EditPage.png) no-repeat;z-index:1000;float:left;}
.editpage_H3 {width:68px; height:60px;margin-top: -18px;margin-left: -180px;background:url(../logo_EditPage.png) no-repeat;z-index:999;float:left;}
.editpage_H4 {width:100%;height:26px;float:left;background:url(../home_Top.png) repeat;z-index:500;}
.editpage_H5 {vertical-align:top;text-align:left;height:21px;float:right;margin-top: 5px;font-size:12px;font-family: Arial,verdana, Helvetica, sans-serif;font-weight:bold;color:black;background: url(../icon/account_icon.png) no-repeat;}
.editpage_H6 {vertical-align:top;width:6px;	height:6px;float:right;margin-top: 10px;margin-right: 10px;	background: url(../icon/arrow_icon.png) no-repeat;}
.editpage_H7 {vertical-align:top;width:100%;height:45px;background:url(../Top_bg.png) repeat;z-index:500;float:left;}
.editpage_H8 {vertical-align:top;text-align:left;height:21px;float:right;margin-top: 5px;margin-right: 20px;}

.cssExitPopupList {display: block;position: fixed; float: right;top: 0px; right: 0px;}
#cboSearchFunction {width: 300px; border: 0px !important;}
#cboSearchFunction .rcbInputCell.rcbInputCellLeft {width: 450px; height: 30px; border-radius: 10px; border-width: 1px;}
#cboSearchFunction .rcbArrowCell.rcbArrowCellRight {display: none;}
#cboSearchFunction .rcbScroll.rcbWidth {border-radius: 10px;}
#cboSearchFunction_DropDown {border: 0px; border-radius: 5px;}
#cboSearchFunction_Input {font-size: 13px}
.trtopMenuPin { position: fixed;}