@import 'footer.css';

.lnkHomeLogout {
    background: url(../../Images/exit_normal_btn.png) no-repeat 0 bottom;
    height: 26px;
    width: 86px;
    display: inline-block;
}

    .lnkHomeLogout:hover {
        background: url(../../Images/exit_hover_btn.png) no-repeat 0 bottom;
        height: 26px;
        width: 86px;
        display: inline-block;
    }

    .lnkHomeLogout:disabled {
        background: url(../../Images/exit_hover_btn.png) no-repeat 0 bottom;
        height: 26px;
        width: 86px;
        display: inline-block;
    }

    .lnkHomeLogout .icon {
        background: url(../../Images/icon/exit_ico.png) no-repeat;
        height: 20px;
        width: 16px;
        margin-top: 5px;
        margin-left: 15px;
    }
/*Home*/
#lnkHomeLogout {
    float: left;
    padding-left: 25px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-top: 0px;
    text-decoration: none;
}

.contentIndexLeft {
    float: left;
    margin: 0 0 0 -40px;
}

.menuIndex {
    width: 180px;
    padding: 0 0 5px;
    background: url(../mn_index_b.png) no-repeat 40px bottom;
}

    .menuIndex ul {
        width: 180px;
        min-height: 15px;
        padding: 5px 0 0;
        list-style-type: none;
        background: url(../mn_index_t.png) no-repeat 0 top;
    }

    .menuIndex li {
        background: url(../mn_index_bg.png) repeat 0 0;
        padding: 1px 10px;
        margin: 0 0 0 0;
    }

        .menuIndex li a {
            color: #FFF;
            font-size: 12px;
            outline: none;
            padding: 0 0 0 15px;
            height: 24px;
            line-height: 25px;
            display: block;
            background: url(../bullet_index.png) no-repeat 5px 9px;
            text-decoration: none;
            font-size: 13px;
        }

            .menuIndex li a:hover, .menuIndex li.current a {
                background: url(../mn_hover.png) no-repeat 0 0;
                height: 24px;
                color: #000;
            }

#menuHome {
    margin-left: 200px;
    float: left;
    text-align: center;
}

/*Home Page and Edit Page*/
#userPopupList {
    float: right;
    position: absolute;
    width: 350px;
    margin-top: 26px;
    margin-left: 675px;
    z-index: 8001;
    background-image: url(../boxshow.png);
    border: 1px thin blue;
    border-radius: 10px;
    box-shadow: rgb(155, 153, 153) 2px 2px;
    box-shadow: 0px 0px 5px #ccc;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

    #userPopupList ul {
        list-style-type: none;
    }

.home_H1 {
    text-align: center;
    vertical-align: top;
    width: 1000px;
    height: 600px;
    background-color: #e09843;
}

.home_H2 {
    width: 215px;
    height: 92px;
    float: left;
    margin-bottom: -92px;
    background: url(../logo_bg_HomePage.png) no-repeat;
    z-index: 1000;
}

.home_H3 {
    width: 66px;
    height: 60px;
    margin-top: 15px;
    margin-left: 57px;
    margin-bottom: -75px;
    float: left;
    background: url(../logo_HomePage.png) no-repeat;
    z-index: 999;
}

.home_H4 {
    text-align: right;
    width: 100%;
    height: 26px;
    background: url(../home_Top.png) repeat;
}

.home_H5 {
    width: 10px;
    height: 13px;
    float: right;
    margin-right: 10px;
    margin-top: 7px;
    background: url(../icon/account_icon.png) no-repeat;
}

.home_H6 {
    width: 6px;
    height: 6px;
    float: right;
    margin-top: 11px;
    margin-right: 10px;
    background: url(../icon/arrow_icon.png) no-repeat;
}

.home_H7 {
    width: 100%;
    height: 66px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    background: url(../Top_bg.png) repeat;
}

.home_H7_1 {
    font: 25px/1em MuseoSans300Regular,sans-serif;
    margin-left: 180px;
    color:#ed7428;
    font-weight:bold;
}

.home_H7_11 {
    font: Arial;
    font-size:12px; 
    color:black;   
}

.home_H8 {
    margin-right: 10px;
    margin-top: 6px;
    float: right;
    font-size: 12px;
    font-family: Arial,verdana, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
}

.home_B1 {
    height: 528px;
    background: url(../home_B1.jpg) no-repeat;
}

.home_B2 {
    height: 350px;
    text-align: center;
    background: url(../home_B2.gif) no-repeat;
    margin-left: 220px;
}

.home_B3 {
    width: 320px;
    background-color: white;
    margin-left: 360px;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
}

.home_F1 {
    background: url(../home001_05.jpg) no-repeat;
}

.HomeLoginName {
    font-size: 16px;
    font-weight: bold;
    font: Arial;
    color: black;
}

#username_input {
    /*margin-top: 10px;*/
    margin-left: 5px;
    width: 190px;
    height: 32px;
    /* box-shadow: 0px 0px 1px rgb(94, 90, 90); */
	box-shadow: 0px 0px 3px rgb(0, 0, 0);
    border-radius: 2px;
}

#password_input {
    /*margin-top: 10px;*/
    margin-left: 5px;
    width: 190px;
    height: 32px;
    /* box-shadow: 0px 0px 1px rgb(94, 90, 90); */
	box-shadow: 0px 0px 3px rgb(0, 0, 0);
    border-radius: 2px;
}

#password2_input {
    /*margin-top: 10px;*/
    margin-left: 5px;
    width: 190px;
    height: 32px;
    /* box-shadow: 0px 0px 1px rgb(94, 90, 90); */
	box-shadow: 0px 0px 3px rgb(0, 0, 0);
    border-radius: 2px;
}

#showpassword_input {
    /*margin-top: 10px;*/
    margin-left: 5px;
    width: 190px;
    height: 32px;
    /* box-shadow: 0px 0px 1px rgb(94, 90, 90); */
	box-shadow: 0px 0px 3px rgb(0, 0, 0);
    border-radius: 2px;
}

#url {
    display: block;
    width: 276px;
    height: 30px;
    background: transparent;
    border: 0;
    color: #bdbdbd;
    font-family: helvetica, sans-serif;
    font-size: 14px;
    padding-left: 20px;
}

#url_user {
    position: absolute;
    display: block;
    margin-top: -20px;
    float: left;
    padding-left: 10px;
}

#url_password {
    position: absolute;
    display: block;
    margin-top: -20px;
    float: left;
    margin-left: 10px;
}

#url_password2 {
    position: absolute;
    display: block;
    margin-top: -20px;
    float: left;
    margin-left: 10px;
}

#url_showpassword {
    position: absolute;
    display: block;
    margin-top: -20px;
    float: left;
    margin-left: 10px;
}

#btnForgotPassword {
    font-size: 8pt;
    color: black !important;
    font-family: Arial,verdana, Helvetica, sans-serif;
    text-decoration: none !important;
    font-style: italic;
}

    #btnForgotPassword:hover {
        color: blue !important;
        font-weight: bold;
        text-decoration: solid;
    }

.LanguageEN_VN {
    color: black;
    font-size: 8pt;
    font-family: Arial;
}

/*IE*/
.menuHomeItemI {
    float: left;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: black;
}

/*FireFox*/
.menuHomeItemF {
    float: left;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: black;
    height: 100%;
    position: relative;
}

/*Safari*/
.menuHomeItemS {
    float: left;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: black;
}

/*Chrome*/
.menuHomeItemC {
    float: left;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: black;
}

#cssHomeTMS a:hover {
    background-color: #8cd9ff;
}

#cssHomeAPP a:hover {
    background-color: #8cd9ff;
}

#cssHomeAW a:hover {
    background-color: #8cd9ff;
}

#cssHomeHR a:hover {
    background-color: #8cd9ff;
}

#cssHomeIS a:hover {
    background-color: #8cd9ff;
}

#cssHomeNew a:hover {
    background-color: #8cd9ff;
}

#cssHomePR a:hover {
    background-color: #8cd9ff;
}

#cssHomeRE a:hover {
    background-color: #8cd9ff;
}

#cssHomeSI a:hover {
    background-color: #8cd9ff;
}

#cssHomeSYS a:hover {
    background-color: #8cd9ff;
}

#cssHomeTER a:hover {
    background-color: #8cd9ff;
}

#cssHomeTR a:hover {
    background-color: #8cd9ff;
}

#cssHomeADM a:hover {
    background-color: #8cd9ff;
}

#cssHomePIT a:hover {
    background-color: #8cd9ff;
}

#cssHomeINT a:hover {
    background-color: #8cd9ff;
}

.cssHomeATSM { /*background:url(../chamCong_normal.png) no-repeat;*/
}

.cssHomeCA { /*background:url(../chamCong_normal.png) no-repeat;*/
}

.cssHomeCM { /*background:url(../chamCong_normal.png) no-repeat;*/
}

.cssHomeMGT { /*background:url(../chamCong_normal.png) no-repeat;*/
}

.cssHomeSTR { /*background:url(../chamCong_normal.png) no-repeat;*/
}

/*Capcha CSS*/
.rcRefreshImage
{
    background-image: url(../../images/icon/reset_ico.png);
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    width: 10px;
    margin-left: 45px;
    padding-right: 10px;
    float: right;
    margin-right: -29px;
    margin-bottom: 7px;
    margin-top: -23px;  
}
        
.imageClass
{
    padding-top: 0px;
    padding-bottom: 0px;
}
        
.CaptChaBox
{
    background-color:Transparent;
    border: none;
    margin: 0 0 0 0 0;
    float:left;
}
        
.CaptchaTextBox
{
    width:100%;	
}
        
.VerifyText
{
        width:10%;
        padding-top:5px;
        float:left;
        font-size:8pt;
        font: arial;
        text-align:center;
        padding-right:0px;
}
.CaptcharBackground
{    
    background-color: rgba(237, 237, 237, 1);
    border-radius:15px;
}

/* Bổ sung add cấu hình của khách hàng đè lên cấu hình của Core */
@import 'CustomerStyle.css';