.ShowHideLeftMenu {background: none repeat scroll 0 0 #7cccfc;border-bottom: 1px solid #7cccfc;border-bottom-left-radius: 2px;border-bottom-right-radius: 2px;
	border-top: 1px solid #7cccfc;border-top-left-radius: 2px;border-top-right-radius: 2px;border-left: 1px solid #7cccfc;border-right: 1px solid #7cccfc;
	box-shadow: 1px 2px 9px #f3f3f3;cursor: pointer;display: block;padding: 15px 0;height: 15px;position: relative;	float: left;top: 300px;z-index: 999;
}
#bannerLeftMenu {visibility: hidden;display: none;}
#bannerLeftMenu {border-bottom: 1px solid #eee;	height: 100%;width:180px;left: 0;display: block;padding: 0px 0px;position: fixed !important;right: 0;top: 0;z-index: 999;}
.contentLeft {float:left !important; margin:0 0px; width:160px; background-color:#e6e6e6; overflow:hidden;}
.contentLeftMenu {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.contentLeftMenu.hidden{ display: none; }
.menu {color:#EEE; min-height:15px; padding:0 0 15px; overflow:hidden;}
/*.menu ul {background:url(../	) no-repeat left top; min-height:600px; height:auto !important; height:600px; padding:20px 0 0; list-style-type:none; margin-left:0px;}
.menu_top {background:url(../mn_bg_t.gif) no-repeat left top; padding:20px 0 0; list-style-type:none; margin-left:0px;}*/
.menu li {background:url(../mn_line_2.png) no-repeat left bottom; padding:3px 0 5px 0;}
.line {background:url(../mn_line_2.png) no-repeat left bottom; padding:3px 0 5px 0;}
.line a {color:#FFFFFF; font-weight:bold; text-transform:none; padding:0 20px; height:24px; line-height:24px; display:block;text-decoration:none;font-size:11px;}
/*.menuUL {background: url(../mn_bg.gif) repeat-y 0px 0px}*/
.menu a {color:#333333; outline:none; font-size:11px; font-weight:bold; text-transform:none; padding:0 20px; height: auto; line-height:24px; display:block;text-decoration:none; padding-bottom:4px;}
.menu a.current {background:url(../hover_rec.png) repeat-y 10px bottom; color:#e97908;display:block;}   
.menu a.current span {background:url(../hover_rec.png) repeat-y 0px 0; color:#e97908; width:130px;display: block; line-height: 24px; padding: 0px 0px 0px 12px; margin-left:-10px;word-wrap: break-word; }                      
.menu a span {width:130px;display: block; line-height: 24px; padding: 0px 0px 0px 12px; margin-left:-10px; word-wrap: break-word} 
.menu a:hover{background:url(../hover_rec.png) repeat-y 10px bottom; color:#ff6600; display:block;} 
.menu a:hover span {background:url(../hover_rec.png) repeat-y 0px 0; cursor:pointer; color:#ff6600;  width:130px; display: block; line-height: 24px; padding: 0px 0px 0px 12px; margin-left:-10px;word-wrap: break-word}