
@font-face {
  font-family: 'Indie Flower';
  src: url('../font/IndieFlower.ttf');
  font-display: block;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../font/JosefinSans-Regular.ttf');
  font-display: block;
}

@import 'base/index';
@import 'layout/index';
@import 'components/index';
@import 'pages/index';