.lazy-load-image-background {
  border: 1px black solid;
  // .blur {
  //   border: 1px black solid;
  // }
}

.lazy-load-image-loaded {
  border: none;
}

.no-content {
  display: flex;
  justify-content: center;
  img {
    max-width: 100%;
    height: auto;
    width: auto\9;
  }
}

.react-photo-gallery--gallery {
  > div {
    justify-content: center;
  }
}